.chapter1__cta {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px 0;
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 5rem;
    margin: 15px 0px 0px 0px;
  }
  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0px;
  }

  div.bag_list {
    display: flex;
    padding: 20px;
    margin-top: 20px;
  }

  div.bag_list > ul {
    height: 250px;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    justify-content: flex-start;
  }

  div.bag_list > ul > li {
    width: 250px;
    padding: 0 20px;
    margin: 0;
    text-align: left;
  }


  div.mana_list {
    padding-left: 40px;
    display: grid;
    grid-template-columns: 50px 1fr 150px;
    width: 100%;
    align-content: start;
  }

  div.mana_list > span {
    text-align: left;
    padding: 0 20px 20px 0;

    a {
      padding-left: 8px;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    border: 1px solid #FFF;
    font-size: 12px;
    overflow: hidden;
    line-height: 18px;
    display: block;
    background: #8e8e8e;
    cursor: pointer;
    a {
      font-size: 14px;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: 0 0 0 2px #fff;
    }
  }
}


@media screen and (max-width: 600px) {
  div.bag_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
