.home__cta {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px 0;
  text-align: center;

  h1 {
    font-size: 5rem;
    margin: 15px 0px 0px 0px;
  }
  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0px;
  }

  ul {
    list-style-type: none;
    margin: 5px auto 25px;
    padding: 0;

    &.btns {
      margin: 35px auto 0;
      display: flex;
      p {
        color: white;
      }
    }

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: white;
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
        .label {
          font-size: 14px;
        }
      }
      .moreinfo {
        padding: 10px 0;
        a {
          font-size: 15px;
          padding: 0 10px;
        }
      }
      .extrainfo {
        a {
          font-size: 15px;
          padding: 0;
        }
      }
      .inactive {
        a {
          color: #888;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .btn {
    padding: 15px 0;
    a:hover {
      text-decoration: none;
    }
  }
}

.home__chapters {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  text-align: left;
  
  h3 {
    color: #8e8e8e;
    font-size: 22px;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0;
    font-weight: bold;
  }
  hr {
    margin: 40px 80px;
    border: 1px solid #aaa;
  }
  img {
    margin: 0 auto;
    padding: 40px 0 0;
    display: block;
  }
  blockquote {
    position: relative;
    background: #8e8e8e;
    color: #fff;
    border-radius: 5px;
    padding: 40px 30px 30px 60px;

    p {
      color: #fff;
      font-size: 20px;
    }
    span.author {
      position: relative;
      display: block;
      text-align: right;
      margin-top: 5px;
      color: #CCC;
      font-size:20px;

      i {
        position: relative;
        background: #8e8e8e;
        padding-left: 5px;
        font-style: italic;
        z-index: 5;
      }
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ccc;
        z-index: 1;
      }
      a {
        font-size: 20px;
        color: #CCC;
      }
    }
    &::before {
      display: block;
      position: absolute;
      top: -10px;
      left: 10px;
      content: "“";
      font-family: "EB Garamond", serif, sans-serif;
      font-size: 120px;
      color: #CCC;
    }
  }

  h2 {
    font-size: 3rem;
    margin: 35px 0px 0px 0px;
  }

  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0px;
    hr {
      color: #8e8e8e;
      width: 50%;
    }
  }
  a {
    color: white;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
  .moreinfo {
    padding: 10px 0;
      a {
        font-size: 15px;
        padding: 0 10px;
      }
  }
  .cta {
    margin: 0 auto;
    .btn {
      width: 220px;
    }
  }
  ul {
    color: #8e8e8e;
    font-size: 22px;
    list-style-type: circle;
    margin: 10px 40px;
    padding: 0px;
    &.bytwo {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
    ul {
      margin: 0 0 0 30px;
    }

    li {
      margin: 0 10px 0;

      a {
        color: white;
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  div.cta {
    padding: 25px 0;
    text-align: center;

    a:hover {
      text-decoration: none;
    }
  }

  .progressbar {
    margin: 10px auto;
    position: relative;
    height: 2rem;
    width: 100%;
    max-width: 450px;
    border-radius: 0.25rem;
    border: 1px solid #333;
    overflow: hidden;
    
    .message {
      position: absolute;
      z-index:5;
      font-size:1rem;
      line-height: 2rem;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      width: 100%;
    }

    .filler {
      background: #8e8e8e;
      height: 100%;
      transition: width .6s ease-in;
    }    
  }
  .progressbar_spread {
    width: 100%;
    margin: 10px auto;
    position: relative;
    height: 1rem;
    border-radius: 0;
    border: 1px solid transparent;
    overflow: hidden;  

    .orderFiller {
      background: #8e8e8e;
      height: 100%;
      transition: width .6s ease-in;
      display:inline-block;
      &[data-suffixid="1"] {
        background: #191D7E
      }
      &[data-suffixid="2"] {
        background: #DAC931
      }
      &[data-suffixid="3"] {
        background: #B45FBB
      }
      &[data-suffixid="4"] {
        background: #1FAD94
      }
      &[data-suffixid="5"] {
        background: #2C1A72
      }
      &[data-suffixid="6"] {
        background: #36662A
      }
      &[data-suffixid="7"] {
        background: #78365E
      }
      &[data-suffixid="8"] {
        background: #4F4B4B
      }
      &[data-suffixid="9"] {
        background: #9B1414
      }
      &[data-suffixid="10"] {
        background: #77CE58
      }
      &[data-suffixid="11"] {
        background: #C07A28
      }
      &[data-suffixid="12"] {
        background: #511D71
      }
      &[data-suffixid="13"] {
        background: #949494
      }
      &[data-suffixid="14"] {
        background: #DB8F8B
      }
      &[data-suffixid="15"] {
        background: #318C9F
      }
      &[data-suffixid="16"] {
        background: #00AE3B
      }
    }
  }
}

.home__feature {
  padding-top: 40px;
  text-align: center;

  span {
    display: block;
    color: #8e8e8e;
    font-size: 18px;
    padding: 10px 0px;
  }
  img {
    margin: 0 10px;
    width: 350px;
  }
}

.btn {
  border: 3px solid #fff;
  background: hsl(0deg 0% 10%);
  font-size: 22px;
  color: #fff;
  padding: 20px 40px;
  margin: auto 10px;

  &:hover {
    box-shadow: 0 0 0 2px #fff;
    cursor: pointer;
    text-decoration: none;
  }
}


.btn_sm {
  display: inline-block;
  border: 1px solid #fff;
  background: hsl(0deg 0% 10%);
  color: #fff;
  padding: 10px 10px;
  margin: auto 10px;

  &:hover {
    box-shadow: 0 0 0 2px #fff;
    cursor: pointer;
    text-decoration: none;
  }
}
.disabled {
      color: #888 !important;
      border-color: #888;
      background-color: #333;

      &:hover {
        box-shadow: 0 0 0 0px #fff;
        padding: 20px 40px;;
        cursor: default;
        text-decoration: none;
      }
}
.center {
  text-align: center;
}

// Responsive
@media screen and (max-width: 850px) {
  .home__cta {
    h1 {
      line-height: 4.5rem;
    }
    ul {
      margin: 25px auto 25px;
    }
    ul.btns {
      display: block;
      li {
        display: block;
        margin: 20px 10px;
      }
    }
  }
  .home__chapters {
    h2 {
      font-size: 2.5rem;
    }
    blockquote {
      margin: 20px 10px;
    }
    .btn {
        padding: 15px 25px;
    }
    
  }
  .home__feature {
    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 600px) {
  .home__bag_attributes {
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;

    ul {
      margin-left: 10px;
      margin-right: 10px;
      
      &.btn {
        display: block;
      }

      li {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
