.home__cta {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  text-align: center;

  h1 {
    font-size: 5rem;
    margin: 15px 0px 0px 0px;
  }

  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0px;
  }

  ul {
    list-style-type: none;
    margin: 10px auto 30px auto;
    padding: 0px;

    li {
      display: inline-block;
      margin: 0px 10px;

      a {
        color: white;
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
      .moreinfo {
        padding: 10px 0;
          a {
            font-size: 15px;
            padding: 0 10px;
          }
      }
      .inactive {
        a {
          color: #888;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  div {
    padding: 20px 0;
    a:hover {
      text-decoration: none;
    }
  }


}

.home__chapters {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  text-align: left;

  hr {
    margin: 40px 80px;
    border: 1px solid #aaa;
  }
  img {
    margin: 0 auto;
    padding: 40px 0 0;
    display: block;
  }
  blockquote {
    position: relative;
    background: #8e8e8e;
    color: #fff;
    border-radius: 5px;
    padding: 40px 30px 30px 60px;

    p {
      color: #fff;
      font-size: 20px;
    }
    span.author {
      position: relative;
      display: block;
      text-align: right;
      margin-top: 5px;
      color: #CCC;
      font-size:20px;

      i {
        position: relative;
        background: #8e8e8e;
        padding-left: 5px;
        font-style: italic;
        z-index: 5;
      }
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ccc;
        z-index: 1;
      }
      a {
        font-size: 20px;
        color: #CCC;
      }
    }
    &::before {
      display: block;
      position: absolute;
      top: -10px;
      left: 10px;
      content: "“";
      font-family: "EB Garamond", serif, sans-serif;
      font-size: 120px;
      color: #CCC;
    }
  }

  h2 {
    font-size: 3rem;
    margin: 35px 0px 0px 0px;
  }

  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0px;
    hr {
      color: #8e8e8e;
      width: 50%;
    }
  }
  a {
    color: white;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    color: #8e8e8e;
    font-size: 22px;
    list-style-type: circle;
    margin: 10px 40px;
    padding: 0px;
    &.bytwo {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
    ul {
      margin: 0 0 0 30px;
    }

    li {
      margin: 0 10px 0;

      a {
        color: white;
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  div.cta {
    padding: 25px 0;
    text-align: center;

    a:hover {
      text-decoration: none;
    }
  }

}

.home__feature {
  padding-top: 40px;
  text-align: center;

  span {
    display: block;
    color: #8e8e8e;
    font-size: 18px;
    padding: 10px 0px;
  }
  img {
    margin: 0 10px;
    width: 350px;
  }
}

.btn {
  a {
    border: 3px solid #fff;
    background: hsl(0deg 0% 10%);
    font-size: 22px;
    color: #fff;
    padding: 20px 40px;
    margin: auto 10px;

    &:hover {
      border: 5px solid #fff;
      padding: 18px 38px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
.disabled {
  a {
      color: #888 !important;
      border-color: #888;
      background-color: #333;

      &:hover {
        border: 3px solid #888;
        padding: 20px 40px;;
        cursor: default;
        text-decoration: none;
      }
    }
}
.center {
  text-align: center;
}

// Responsive
@media screen and (max-width: 850px) {
  .home__cta {
    h1 {
      line-height: 4.5rem;
    }
    ul.btns {
      li {
        display: block;
        margin: 20px 10px;
      }
    }
  }
  .home__chapters {
    h2 {
      font-size: 2.5rem;
    }
    blockquote {
      margin: 20px 10px;
    }
    ul {

      &.bytwo {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
      }
    }
    .btn {
      a {
        padding: 15px 25px;
      }
    }
  }
  .home__feature {
    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 600px) {
  .home__bag_attributes {
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;

    ul {
      margin-left: 10px;
      margin-right: 10px;

      li {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
