.manafinder__intro {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px 0;
  text-align: center;

  h1 {
    font-size: 5rem;
    margin: 15px 0px 0px 0px;
  }

  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0px;
  }
}

.manafinder__app {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  text-align: left;
  font-size: 22px;
  .controls {
    width: 100%;
    text-align: center;
    .suffixDropdown {
      width: 250px;
      color: #000;
      display: inline-block;
      margin:10px 20px;
      text-align: left;
    }
    .inventoryDropdown {
      width: 250px;
      color: #000;
      display: inline-block;
      margin:10px 20px;
      text-align: left;
    }
  }
  table {
    width: 100%;
    .header_id {
      width: 25%;
    }
    .header_address {
      width: 20%;
    }

    th {
      vertical-align: middle;

      a.ascending:active, a.descending:active {
        text-decoration: none;
      }
      a.ascending::after {
        font-size:8px;
        content: "▼";
        width: 0;
        height: 0;
        margin: 10px;
        line-height: 25px;
        vertical-align: middle;
      }
      a.descending::after {
        font-size:8px;
        content: "▲";
        width: 0;
        height: 0;
        margin: 10px;
        line-height: 25px;
        vertical-align: middle;

      }
    }
    td {
      &.tokenId {
        text-align:left;
      }
      &.price {
        text-align: center;
      }
      &.eth::before {
        font-size:12px;
        content: "♦";
        position:relative;
        top:-2px;
      }
    }
  }
  hr {
    margin: 40px 80px;
    border: 1px solid #aaa;
  }
  img {
    margin: 0 auto;
    padding: 40px 0 0;
    display: block;
  }

  h2 {
    font-size: 3rem;
    margin: 35px 0px 0px 0px;
  }

  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0px;
    hr {
      color: #8e8e8e;
      width: 50%;
    }
  }
  a {
    color: white;
    font-size: 22px;

    &:hover {
      text-decoration: underline;
    }
  }

}


// Responsive
@media screen and (max-width: 850px) {
  .manafinder__intro {
    h1 {
      line-height: 4.5rem;
      font-size: 4rem;
    }
  }
  .manafinder__app {
    h2 {
      font-size: 2rem;
    }
    table {
      th {
        font-size:18px;
      }
      td {
        font-size:18px;
      }
      td.eth::before {
        font-size:10px;
      }
    }
    .controls {
      font-size:20px;
      .suffixDropdown {
        width: 250px;
      }
    }
  }
}
